submodules/game-lib/game_platform/wsdl/2297/netent_seamless_server.wsdl

<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
    xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
    xmlns:wsp="http://www.w3.org/ns/ws-policy"
    xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
    xmlns:tns="http://service.jaxws.webservice.netent.com/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:ns1="http://casinomodule.com/api"
    xmlns="http://schemas.xmlsoap.org/wsdl/" name="casino" targetNamespace="http://service.jaxws.webservice.netent.com/">
    <import location="https://wnentertainment-api.casinomodule.com/ws-jaxws/services/casino?wsdl=CasinoPortType.wsdl" namespace="http://casinomodule.com/api"></import>
    <binding name="CasinoSOAPServiceImplPortBinding" type="ns1:casino">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getTime">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getPlayerBetLimitForGame">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="getPlayerGameBetLimits">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="removePlayerBetLimitForGame">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="getGameTrackingHTML">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="getGameTrackingHTMLEmbeddable">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="depositUserMoneyBypassDepositBonusProgramsV3">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="getUserFrequentPlayerPointsBalance">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="getUserFrequentPlayerPointsAwarded">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="withdrawUserFrequentPlayerPoints">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="depositUserFrequentPlayerPoints">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="getFrequentPlayerPointsTransactions">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="finishUnfinishedGameRoundsForPlayerV3">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="finishUnfinishedGameRoundsForAllPlayers">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="finishGameRounds">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="setPlayersBonusProgramExclusionStatus">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="getDepositBonusAmountForPlayer">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="ping">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="registerUser">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="registerMultipleUsers">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="loginUser">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="logoutUser">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="getGamesV2">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="renameUser">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="getGameInfo">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="registerTestUser">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="loginUserDetailed">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="activateBonusProgramForPlayer">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="getCurrentJackpot">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="depositUserMoneyV3">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="withdrawUserMoneyV3">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="getUserBonusInfoV4">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="getUserBonusInfoDetailV5">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="getUserBonusInfoDetailV6">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="getBonusTransactionSummary">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="getBonusTransactionSummaryV2">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="giveUserManualBonusV5">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="giveFreeRounds">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="giveFreeRoundsV2">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="giveFreeRoundsV3">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="giveFreeRoundsViaWidget">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="forfeitFreeRounds">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="getIndividualJackpotInfo">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="getUserMoneyBalanceV3">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="getTotalBalance">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="isUserInTournament">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="isUserSessionAlive">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="refreshUserSession">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="getTournamentDetailsV3">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="getLeaderBoard">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="getUserTournamentsV2">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="getTournamentResult">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="getAllTournamentsV2">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="getCurrentOverview">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="getUserGameStatistics">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="getUserWageredAmountV2">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="getUserGameHistory">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="getAllFrequentPlayerPoints">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="executeNamedQueryMatrix">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="executeNamedQuery">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="confirmDeposit">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="confirmWithdrawal">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="getGameStatistics">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="getUserFreeRoundGames">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="getUserFreeRoundInformation">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="getUserFreeRoundInformationV2">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="getPlayerLimits">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="setPlayerLimitV3">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="setPlayerBlockLimitEndDate">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="removePlayerLimit">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="convertPlayerToNewCurrency">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="setCurrencyExchangeRate">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="hasUserUnfinishedRound">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="getExchangeRates">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="forfeitBonusForPlayer">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="getGameWalletInfo">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="setPlayerBetLimitForGames">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="forfeitFreeRoundsV2">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="getStaticContentServerInfo">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="getActiveFreeRoundWidgets">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CasinoSOAPException">
                <soap:fault name="CasinoSOAPException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="casino">
        <port binding="tns:CasinoSOAPServiceImplPortBinding" name="CasinoSOAPServiceImplPort">
            <soap:address location="https://wnentertainment-api.casinomodule.com/ws-jaxws/services/casino"/>
        </port>
    </service>
</definitions>