submodules/game-lib/game_platform/wsdl/178/mgsops.net.AdminAPI_Gaming.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://mgsops.net/AdminAPI_Gaming/" elementFormDefault="qualified" targetNamespace="http://mgsops.net/AdminAPI_Gaming/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Orion.Contracts.PlayerAdmin.DataStructures" schemaLocation="Orion.Contracts.PlayerAdmin.DataStructures.xsd" />
  <xs:element name="GetUsersBetsOnTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Orion.Contracts.PlayerAdmin.DataStructures" minOccurs="0" name="request" nillable="true" type="q1:ArrayOfGetUsersBetsOnTableRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersBetsOnTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Orion.Contracts.PlayerAdmin.DataStructures" minOccurs="0" name="GetUsersBetsOnTableResult" nillable="true" type="q2:ArrayOfGetUsersBetsOnTableResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>