submodules/game-lib/game_platform/wsdl/178/Orion.Common.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Orion.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Orion.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CustomFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="faultCode" type="xs:int" />
      <xs:element minOccurs="0" name="faultString" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomFault" nillable="true" type="tns:CustomFault" />
</xs:schema>