submodules/game-lib/game_platform/wsdl/178/tempuri.org.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" schemaLocation="schemas.microsoft.com.2003.10.Serialization.Arrays.xsd" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Orion.Contracts.VanguardAdmin.DataStructures" schemaLocation="Orion.Contracts.VanguardAdmin.DataStructures.xsd" />
  <xs:element name="GetCommitQueueData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="serverIds" nillable="true" type="q1:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommitQueueDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Orion.Contracts.VanguardAdmin.DataStructures" minOccurs="0" name="GetCommitQueueDataResult" nillable="true" type="q2:ArrayOfQueueDataResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRollbackQueueData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="serverIds" nillable="true" type="q3:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRollbackQueueDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Orion.Contracts.VanguardAdmin.DataStructures" minOccurs="0" name="GetRollbackQueueDataResult" nillable="true" type="q4:ArrayOfQueueDataResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManuallyValidateBet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Orion.Contracts.VanguardAdmin.DataStructures" minOccurs="0" name="validateRequests" nillable="true" type="q5:ArrayOfValidteBetRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManuallyValidateBetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ManuallyValidateBetResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateApiUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateApiUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Orion.Contracts.VanguardAdmin.DataStructures" minOccurs="0" name="ValidateApiUserResult" nillable="true" type="q6:ValidateApiUserResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateApiUserExtended">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateApiUserExtendedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Orion.Contracts.VanguardAdmin.DataStructures" minOccurs="0" name="ValidateApiUserExtendedResult" nillable="true" type="q7:ValidateApiUserExtendedResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>